@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  margin: 24px 61px;
}
.header .header__nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.header .header__nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 16px;
}
.header .header__nav--connect {
  border-left: 1px solid #ffffff;
}
.container__modal {
  border: 1px solid #ffffff;
  padding: 32px 40px;
  max-width: 400px;
  color: #ffffff;
}
.container__modal .container__modal--h1 {
  margin-top: 8px;
}
.container__modal .container__modal--details {
  margin: 24px 0;
}
.container__modal .modal__details--all {
  display: flex;
  justify-content: space-between;
}
.container__modal .container__modal--p {
  color: #666666;
  text-align: justify;
}
.container__modal .container__modal--interact {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 32px;
  color: #666666;
}
.container__modal .modal__interact--button {
  background-color: #dedede;
  padding: 0;
  font-weight: 700;
  text-decoration: none;
}
.container__modal .modal__interact--button:visited {
  color: #000000;
}
.container__modal .modal__interact--button:active {
  background-color: #ffffff;
}

.container__marketplace {
  width: 400px;
  color: white;
}
.container__marketplace .container__marketplace--nav {
  display: flex;
  justify-content: space-between;
}
.container__marketplace .marketplace__nav--left a {
  color: #ffffff;
  text-decoration: none;
}
.container__marketplace .marketplace__nav--left ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
.container__marketplace .marketplace__nav--left ul .active {
  background-color: #dedede;
  padding: 0;
  font-weight: 700;
  text-decoration: none;
}
.container__marketplace .marketplace__nav--left ul .active:visited {
  color: #000000;
}
.container__marketplace .marketplace__nav--left ul .active:active {
  background-color: #ffffff;
}
.container__marketplace .marketplace__nav--right a {
  color: #ffffff;
  text-decoration: none;
}
.container__marketplace .marketplace__listings {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  margin-top: 24px;
}
.container__marketplace .marketplace__listings .marketplace__listings--item {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  height: 100px;
  overflow: hidden;
}
.container__marketplace .marketplace__listings .marketplace__listings--item a img {
  height: 100px;
  width: 100px;
}
.container__marketplace .marketplace__listings .marketplace__listings--item .item__details--all {
  width: 280px;
  display: flex;
  align-items: space-between;
  margin: 6px 0;
}
.container__marketplace .marketplace__listings .marketplace__listings--item .item__details--all h1 {
  font-size: 13px;
  line-height: 16px;
}
.container__marketplace .marketplace__listings .marketplace__listings--item .item__details--all p {
  font-size: 12px;
  line-height: 12px;
}
.container__marketplace .marketplace__listings .item__details--all {
  display: flex;
  justify-content: space-between;
}
.container__marketplace .clearfix {
  display: flex;
  color: #666666;
}
.container__marketplace .clearfix a {
  background-color: #dedede;
  padding: 0;
  font-weight: 700;
  text-decoration: none;
}
.container__marketplace .clearfix a:visited {
  color: #000000;
}
.container__marketplace .clearfix a:active {
  background-color: #ffffff;
}
.container__marketplace .marketplace__create-listing,
.container__marketplace .marketplace__provide-liquidity,
.container__marketplace .whitepaper {
  margin: 24px 0;
}
.container__marketplace .marketplace__create-listing a,
.container__marketplace .marketplace__provide-liquidity a,
.container__marketplace .whitepaper a {
  background-color: #dedede;
  padding: 0;
  font-weight: 700;
  text-decoration: none;
}
.container__marketplace .marketplace__create-listing a:visited,
.container__marketplace .marketplace__provide-liquidity a:visited,
.container__marketplace .whitepaper a:visited {
  color: #000000;
}
.container__marketplace .marketplace__create-listing a:active,
.container__marketplace .marketplace__provide-liquidity a:active,
.container__marketplace .whitepaper a:active {
  background-color: #ffffff;
}
.container__marketplace .marketplace__create-listing p,
.container__marketplace .marketplace__provide-liquidity p,
.container__marketplace .whitepaper p {
  margin: 24px 0;
  text-align: justify;
}

.container__create-a-listing {
  width: 400px;
  color: white;
}
.container__create-a-listing h1 {
  text-transform: uppercase;
}
.container__create-a-listing p {
  margin: 3px 0;
}
.container__create-a-listing .create-a-listing__form {
  margin-top: 48px;
}
.container__create-a-listing .create-a-listing__form .create-a-listing__form--preview {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  height: 100px;
  overflow: hidden;
  margin-top: 8px;
}
.container__create-a-listing .create-a-listing__form .create-a-listing__form--preview a img {
  height: 100px;
  width: 100px;
}
.container__create-a-listing .create-a-listing__form .create-a-listing__form--preview .form__preview--details .form__preview--all {
  width: 280px;
  display: flex;
  justify-content: space-between;
}
.container__create-a-listing .create-a-listing__form .create-a-listing__form--preview .form__preview--details .form__preview--all h1 {
  line-height: 16px;
  font-size: 13px;
}
.container__create-a-listing .create-a-listing__form .create-a-listing__form--preview .form__preview--details .form__preview--all p {
  font-size: 12px;
  line-height: 12px;
}
.container__create-a-listing .create-a-listing__form .label {
  display: block;
  margin-top: 16px;
}
.container__create-a-listing .create-a-listing__form .input {
  width: 100%;
  padding: 4px 12px;
  width: 400px;
  height: 32px;
  outline: none;
  background-color: #000000;
  border: 1px solid #666;
}
.container__create-a-listing .create-a-listing__form .input-33 {
  padding: 4px 12px;
  width: 128px;
  height: 32px;
  outline: none;
  background-color: #000000;
  border: 1px solid #666;
}
.container__create-a-listing .create-a-listing__form .input-50 {
  padding: 4px 12px;
  width: 196px;
  height: 32px;
  outline: none;
  background-color: #000000;
  border: 1px solid #666;
}
.container__create-a-listing .create-a-listing__form .marketplace__form--terms {
  margin-top: 16px;
  color: #666666;
}
.container__create-a-listing .create-a-listing__form .form__terms--publish {
  margin-top: 18px;
}
.container__create-a-listing .create-a-listing__form .form__terms--publish span {
  color: #666666;
}
.container__create-a-listing .create-a-listing__form .form__terms--publish a {
  background-color: #dedede;
  padding: 0;
  font-weight: 700;
  text-decoration: none;
}
.container__create-a-listing .create-a-listing__form .form__terms--publish a:visited {
  color: #000000;
}
.container__create-a-listing .create-a-listing__form .form__terms--publish a:active {
  background-color: #ffffff;
}

* {
  font-family: "Fira Mono", monospace;
  font-size: 13px;
  line-height: 24px;
}

body {
  background-color: #000000;
}

.container {
  display: flex;
  margin: auto 61px;
  gap: 60px;
  justify-content: space-around;
}

/*# sourceMappingURL=style.css.map */
