@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap");

//! Variable declaration.

$bgColor: #000000;
$colorWhite: #ffffff;
$colorLightGrey: #666666;
$colorDarkGrey: #333333;
$border: 1px solid #ffffff;
$fontFamily: "Fira Mono", monospace;
$fontSize: 13px;
$lineHeight: 24px;

//!

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
  font-size: $fontSize;
}

body {
  background-color: $bgColor;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 28px;
  margin: 24px 61px;

  .header__nav ul {
    display: flex;
    flex-direction: row;
  }

  .header__nav a {
    color: $colorWhite;
    text-decoration: none;
    list-style: none;

    padding: 0 16px;
  }

  .header__nav--connect {
    border-left: $border;
  }

  .header__nav--connect {
    //? activate when meta-mask connected.
    display: none;
  }
}

.container {
  display: flex;

  margin: 24px 0;
}
