.container__create-a-listing {
  width: 400px;
  // border: $border;
  color: white;
  //? ********** HEADER **********
  h1 {
    text-transform: uppercase;
  }

  p {
    margin: 3px 0;
  }
  //? ********** CREATE-A-LISTING **********
  .create-a-listing__form {
    margin-top: 48px;

    //? ********** FORM-PREVIEW **********
    .create-a-listing__form--preview {
      display: flex;
      flex-direction: row;
      gap: 0 20px;
      height: 100px;
      overflow: hidden;
      margin-top: 8px;

      a img {
        height: 100px;
        width: 100px;
      }

      .form__preview--details {
        .form__preview--all {
          width: 280px;
          display: flex;
          justify-content: space-between;

          h1 {
            line-height: 16px;
            font-size: 13px;
          }
          p {
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }
    //? ********** INPUT & LABEL **********
    .label {
      display: block;
      margin-top: 16px;
    }
    .input {
      width: 100%;
      padding: 4px 12px;
      width: 400px;
      height: 32px;
      outline: none;
      color: $colorWhite;
      background-color: $bgColor;
      @include border(1px, #666);
    }
    .input-33 {
      padding: 4px 12px;
      width: 128px;
      height: 32px;
      outline: none;
      color: $colorWhite;
      background-color: $bgColor;
      @include border(1px, #666);
    }
    .input-50 {
      padding: 4px 12px;
      width: 196px;
      height: 32px;
      outline: none;
      color: $colorWhite;
      background-color: $bgColor;
      @include border(1px, #666);
    }

    .marketplace__form--terms {
      margin-top: 16px;
      color: $colorLightGrey;
    }

    .form__terms--publish {
      margin-top: 18px;

      span {
        color: $colorLightGrey;
      }

      a {
        background-color: $colorButtonBg;
        padding: 0;
        font-weight: $fontWeightBold;
        text-decoration: none;

        &:visited {
          color: $bgColor;
        }
        &:active {
          background-color: $colorWhite;
        }
      }
    }
  }
}
