$bgColor: #000000;
$colorWhite: #ffffff;
$colorLightGrey: #666666;
$colorDarkGrey: #333333;
$colorButtonBg: #dedede;
$border: 1px solid #ffffff;
$fontFamily: "Fira Mono", monospace;
$fontSize: 13px;
$lineHeight: 24px;
$fontWeightLight: 400;
$fontWeightBold: 700;
